/* ============================================================================
	# Layout - Games list
============================================================================= */

.games-list {
	width: $module-games-list-width;
	min-width: $module-games-list-min-width;
	max-width: $module-games-list-max-width;
} // .games-list