/* ============================================================================
	# Layout - Game details
============================================================================= */

.game-details {
	width     : $module-game-details-width;
	min-width : $module-game-details-min-width;
	max-width : $module-game-details-max-width;
} // .game-details