/* ============================================================================
	# Layout - Search-bar
============================================================================= */

.search-bar {
	width: $module-search-bar-width;
	min-width: $module-search-bar-min-width;
	max-width: $module-search-bar-max-width;
} // .search-bar